body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

header img {
    padding: 1em;
    width: 5.5em;
}

header {
    display:flex;
    gap: 20px;
}

main h1 {
    font-size: 150%;
}

main h2 {
    font-size: 130%;
    color: #800000;
}

main h3 {
    font-size: 105%;
}

header h2 {
    font-size: 170%;
    color: #800000;
    padding-left: 5px;
}

header h3 {
    font-size: 130%;
    font-style: italic;
    padding-left: 5px;
}

a:hover, a:focus {
    font-style: italic;
}

footer {
    text-align: center;
}

.shadow {
    text-shadow: 1.5px 1.5px 3px #800000;
}